
.hamburger {
  color: $hamburger-btn-color;
  @include transition(all 200ms);
  display: inline-block;
  .hamburger-menu {
    position: fixed;
    z-index: 999999;
    background: #FFF;
    border-left: 1px solid #f1f1f1;
    width: 260px;
    height: 100%;
    top: 57px;
    right: -260px;
    @include transition(all 200ms);
  }
  .hamburger-btn {
    > * {
      @include transition(all 0.25s);
      cursor: pointer;
    }
    &:hover {
      color: $hamburger-btn-hover;

    }
  }

  &.in {
    .hamburger-btn {
        >* {
          @include transform(rotate(90deg));
        }
    }
    .hamburger-menu {
      right: 0;
    }
    }
}