
.tagger {
  padding-left: 10px;
  overflow: hidden;
  margin-left: inherit;
  margin-right: inherit;

  color: white;
  font-size: 14px;
  border: none;

  li {
    display: block;
    float: left;
    &.tagger-new {
      cursor: default;
      line-height: 31px;
      margin-top: 2px;
      margin-right: 5px;
      padding: 0 5px;
      @include border-radius(5px);
      .text-icon {
        cursor: pointer;
        display: inline;
        font-size: 18px;
        padding-left: 5px;
      }

      &.invalid {
        background: #ffffff;
        .text-icon {
          color: #ffffff;
        }
      }
    }
  }

}