$invalid-background: #b71541;
$invalid-border: darken($invalid-background, 5%);

$warn-background: #fcf8e3;
$warn-border: darken($warn-background, 5%);

.validate {
    &.invalid {
        .input-group-addon {
            .fa-validate {
                @extend .fa-warning;
            }
        }

    }

    &.valid {
        .input-group-addon {
            .fa-validate {
                @extend .fa-check;
            }
        }
    }
}

textarea, select, input[type="text"], input[type="email"], input[type="password"], .input-group {

    &.warn {
        background-color: $warn-background !important;
        border-color: $warn-border;
        &:hover {
            background-color: lighten($warn-background, 5%) !important;
        }
    }
}