//Content Scaffolding

a {
  color: white;

  &:active, &:hover {
    color: white;
    outline: none;
  }
}

html {
  font-family: open_sansregular;
  min-height: 100%;
  width: 100%;
}

body {
  font-family: open_sansregular;
  background: none;
  padding-bottom: 100px;
  min-height: 100%;
  width: 100%;
}


