.btn {

  @include border-radius(0px);
  @include transition(all, 200ms);
  padding: 10px 20px;

  background: $button-default;
  border-color: $button-default-border;
  color: $button-default-color;

  &:hover {
    background: $button-default-hover;
    color:  $button-default-hover-color;
  }

  &:active {
    background: $button-default-active;
  }
  button:focus {
    outline: 0;
  }

  &.btn-danger, .btn.reject {
    background: $button-danger;
    color: $button-danger-color;
    border-color: $button-danger-border;
    &:hover {
      background: $button-danger-hover;
      color:  $button-danger-hover-color;
    }

    &:active {
      background: $button-danger-active;
    }
  }

  &.btn-success {
    background: $button-success;
    color: $button-success-color;
    border-color: $button-success-border;
    &:hover {
      background: $button-success-hover;
      color: $button-success-hover-color;
    }

    &:active {
      background: $button-success-active;
    }
  }


  &.btn-grey {
    background: $button-grey;
    color: $button-grey-color;
    border-color: $button-grey-border;
    &:hover {
      background: $button-grey-hover;
      color: $button-grey-hover-color;
    }

    &:active {
      background: $button-grey-active;
    }
  }

  &.btn.facebook {
    background: $button-facebook;
    color: $button-facebook-color;
    border-color: $button-facebook-border;
    &:hover {
      background: $button-facebook-hover;
      color: $button-facebook-hover-color;
    }

    &:active {
      background: $button-facebook-active;
    }
  }

  &.btn.google {
    background: $button-google;
    color: $button-google-color;
    border-color: $button-google-border;
    &:hover {
      background: $button-google-hover;
      color: $button-google-hover-color;
    }

    &:active {
      background: $button-google-active;
    }
  }

}
