.chat {
    .chat-header {
        background: $panel-header;
        h5 {
            margin: 0;
            padding: 10px;
        }
    }
    .chat-body {
        @include background-opacity($panel-default, 0.9);
        padding: 5px 0;
        min-height: 285px;
        max-height: 285px;
        overflow: auto;



    }
    .chat-footer {
        @include background-opacity($panel-default, 0.9);
        border-top: 1px solid $white;
    }
    .chat-form {
        padding: 10px;

        .chat-input-container {
            padding-right: 10px;
            height: 34px;

            .chat-input {
                width: 90%;
                max-width: 90%;
            }
        }

        .chat-submit {
            width: 10%;
            height: 34px;
            background: $panel-header;
        }
    }
}


/** CHAT ENTRY **/
.entry {
    margin: 5px 0;

    & > * {
        padding: 0 5px;
    }

    .entry-author {
        float: right;
        width: 80%;

        h5 {
            margin: 0;
            font-weight: 100;
        }
        span {
            font-weight: 100;
            font-size: 12px;
        }
    }
    .avatar {
        width: 20%;
    }
    .avatar img {
        height: 25px;
        width: 25px;
        @include bootstrap-border-radius(50%);
    }
    .entry-body {
        background: $brand-red;
        @include bootstrap-border-radius(4px);
        min-height: 30px;
        line-height: 20px;
        position: relative;
        padding: 5px 5px;
        font-weight: 100;
        width: 60%;
        margin-right: 5px;
        float: right;
        word-wrap: break-word;

        p {
            font-weight: 100;
        }
    }
}

.chat-entry {
    @include transition(opacity 200ms);
    & > * {
        float: right;
        text-align: left;
    }

    .entry-author-container {
        width: 20%;
    }

    .entry-body {
        background: $panel-darken;
        position: relative;

        &:after {
            width: 10px;
            height: 30px;
            background: image-url('icons/chat-suffix.png') no-repeat 0 0;
            position: absolute;
            right: -10px;
            top: 0;
            content: " ";
        }
    }

    .avatar {
        padding: 5px 0 0 5px;
    }
    &.message-loading {
        .entry-body {
            opacity: .75;
        }
    }
}

.stat-entry {
    & > * {
        float: left;
        text-align: right;
    }

    .entry-body {
        background: $brand-red;

        &:before {
            width: 10px;
            height: 30px;
            background: image-url('icons/chat-prefix.png') no-repeat 0 0;
            position: absolute;
            left: -10px;
            top: 0;
            content: " ";
        }
    }

    .avatar {
        padding: 5px 0 0 5px;
    }
}

