$colour-text: #505050;
$colour-a: $colour-text;
$border-grey: #eeeeee;


$colour-bg: #ffffff;

// PANELS
$panel-head: #FDFDFD;
$panel-border-bottom: #FDFDFD;
$panel-background: #FDFDFD;
$panel-header-text: #394263;
$panel-text: $colour-text;

// FORMS
$button-default: #4697ce;
$button-default-hover: #2f7db2;
$button-default-hover-color: #ffffff;
$button-default-active: #2f7db2;
$button-default-border: transparent;
$button-default-color: #ffffff;

$button-grey: #a9a9a9;
$button-grey-hover: #909090;
$button-grey-hover-color: #ffffff;
$button-grey-active: #909090;
$button-grey-border: transparent;
$button-grey-color: #ffffff;

$button-success: #27c24c;
$button-success-hover: #23ad44;
$button-success-hover-color: #ffffff;
$button-success-active: #23ad44;
$button-success-border: transparent;
$button-success-color: #ffffff;

$button-danger: #f05050;
$button-danger-hover: #ee3939;
$button-danger-hover-color: #ffffff;
$button-danger-active: #ee3939;
$button-danger-border: transparent;
$button-danger-color: #ffffff;

$button-facebook: #3b5998;
$button-facebook-hover: #456fb8;
$button-facebook-hover-color: #ffffff;
$button-facebook-active: #456fb8;
$button-facebook-border: transparent;
$button-facebook-color: #ffffff;

$button-google: #dd4b39;
$button-google-hover: #ee4f3c;
$button-google-hover-color: #ffffff;
$button-google-active: #c24533;
$button-google-border: transparent;
$button-google-color: #ffffff;

$addon-valid-color: #ffffff;
$addon-invalid-color: #ffffff;

$addon-valid: #27c24c;
$addon-invalid: #dd4b39;


//NAV
$nav-background: #FFFFFF;
$nav-border:$border-grey;
$hamburger-btn-color: #000000;
$hamburger-btn-hover: #666666;
// BRAND COLOURS


// TEXT & LINKS



a {
    color: $colour-a;
}

html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
}

body {
    background: $colour-bg;
}