/* -------------------------

    CUSTOM STYLES - for one off elements or
    things you're not too sure about

    aka 'the mess'

    ideally this file would stay empty as we
    should be able to refactor it all... but
    that is in theory of course...

    use this file instead of putting stuff
    at the end of the other files -
    it will get sorted out later on (maybe)
    and keep the rest tidy

------------------------- */


.navbar-header {
    float: left;
}


.pulse-text {
    color: #666;
    -webkit-animation: color_change 2s infinite alternate;
    -moz-animation: color_change 2s infinite alternate;
    -ms-animation: color_change 2s infinite alternate;
    -o-animation: color_change 2s infinite alternate;
    animation: color_change 2s infinite alternate;
}

@-webkit-keyframes color_change {
    from { opacity: 1; }
    to { opacity: .4; }
}
@-moz-keyframes color_change {
    from { opacity: 1; }
    to { opacity: .4; }
}
@-ms-keyframes color_change {
    from { opacity: 1; }
    to { opacity: .4; }
}
@-o-keyframes color_change {
    from { opacity: 1; }
    to { opacity: .4; }
}
@keyframes color_change {
    from { opacity: 1; }
    to { opacity: .4; }
}

.navbar-right {
    float: right !important;
    margin-right: -5px;
}

.highcharts {
    max-width: 300px;
}

.meter {
    position: relative;
    height: 20px;
    width: 200px;
    background-color: #eaeaea;
    border-radius: 5px;
    span.due-date {
        position: absolute;
        left: 50px;
        background-color: transparent;
        width: 100px;
    }
    span {
        @include transition(all 200ms);
        width: 0;
        background-color: rgb(44, 203, 106);
        display: inline-block;
        height: 20px;
        border-radius: 5px 0 0 5px;
        &.red {
            background-color: #ee3e3d;
        }
    }
}

.price {
    color: rgb(44, 203, 106);
    font-size: 12px;
}

nav.navbar.navbar-default {
    background-color: rgb(236, 236, 236);
}

li.list-item {
    position:relative;
    @include transition(all 200ms);
    opacity: 0.6;
    &.item-active {
        opacity: 1;
    }
    >div {
        display: inline-block;
    }
    .image-container {
        width: 90px;
        height: 80px;
    }
    .status-container {
        position: absolute;
        top: 45px;
        left: 5px;
    }
    img {
        margin-left: 20px;
        padding-top: 10px;
    }
    .status {
        @include transition(all 200ms);
        font-size: 26px;
        color: #eaeaea;
        &.active {
            color: rgb(44, 203, 106);
        }
    }
    border-bottom: 1px solid #ddd;
    height: 105px;
    .last-updated {
        margin-left: 10px;
        font-size: 13px;
        color: #aaa;
    }
    .added-to-basket {
        color: #2ccb6a;
        font-size: 25px;
    }
    .loader-inline {
        width: 20px;
        margin: -12px 0 0 0;
    }

}

.product-loading {
    font-weight: 300;
    font-size: 12px;
    color: #999999;
}




@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #34abfa;
    padding-top: 5%;
    font-size: 5px;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.iphone {
    position: relative;
    background: #202020;
    width: 45%;
    height: 0;
    padding-top: 95%;
    margin: 0 auto;
    border-radius: 3em;
}

.power {
    position: absolute;
    background: #202020;
    width: 13%;
    height: .5%;
    top: -.5%;
    right: 12%;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.lock {
    position: absolute;
    background: #202020;
    width: 1%;
    height: 5%;
    top: 12.5%;
    left: -1%;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

.volume {
    position: absolute;
    background: #202020;
    width: 1%;
    height: 4%;
    top: 23%;
    left: -1%;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

.volume.down{ top: 31%; }

.camera {
    position: absolute;
    top: 4%;
    left: 48.5%;
    background: #3f3f3f;
    width: 3%;
    height: 0;
    padding-top: 3%;
    border-radius: 50%;
}

.speaker {
    position: absolute;
    top: 7%;
    left: 42.5%;
    background: #3f3f3f;
    width: 15%;
    height: 0;
    padding-top: 3%;
    border-radius: 1em;
}

.appleicon {
    padding-top: 25%;
    opacity: 0;
    animation: unhide 5s infinite alternate;
}

.appleicon img{
    width: 100%;
    height: 100%;
}

.text {
    opacity: 0;
    font-size: 1.25rem;
    text-align: center;
    animation: unhide 5s infinite alternate;
}

.screen {
    background: #fff;
    width: 90%;
    height: 75%;
    overflow: hidden;
    position: absolute;
    top: 12.5%;
    left: 5%;
}

.button {
    position: absolute;
    bottom: 2.75%;
    left: 42.5%;
    background: #3f3f3f;
    /* border: 1px solid #3f3f3f; */
    width: 15%;
    height: 0;
    padding-top: 15%;
    border-radius: 50%;
}

.square {
    position: absolute;
    top: 27.5%;
    left: 27.5%;
    border: 2px solid #d7d7d7;
    border-radius: .3em;
    width: 45%;
    height: 45%;
}

@media screen and (min-width: 28em ) {
    body{ font-size: 8px; }
}

@media screen and (min-width: 34em ) {
    body{ font-size: 10px; }
}

@media screen and (min-width: 48em ) {
    body{ font-size: 14px; }
}

@keyframes lighten {
    0%, 45% { background: #2f2f2f; }
    65%, 100% { background: #f7f7f7; }
}

@keyframes unhide {
    0%, 55% { opacity: 0 }
    75%, 100% { opacity: 1 }
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
}

.navbar h4 {
    margin-top: 17px;
    font-weight: bold;
}