/*SANS */

@font-face {
    font-family: 'open_sansitalic';
    src: url('../../../fonts/sans/OpenSans-Italic-webfont.eot');
    src: url('../../../fonts/sans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/sans/OpenSans-Italic-webfont.woff2') format('woff2'),
    url('../../../fonts/sans/OpenSans-Italic-webfont.woff') format('woff'),
    url('../../../fonts/sans/OpenSans-Italic-webfont.ttf') format('truetype'),
    url('../../../fonts/sans/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../../../fonts/sans/OpenSans-Light-webfont.eot');
    src: url('../../../fonts/sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/sans/OpenSans-Light-webfont.woff2') format('woff2'),
    url('../../../fonts/sans/OpenSans-Light-webfont.woff') format('woff'),
    url('../../../fonts/sans/OpenSans-Light-webfont.ttf') format('truetype'),
    url('../../../fonts/sans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../../../fonts/sans/OpenSans-Regular-webfont.eot');
    src: url('../../../fonts/sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/sans/OpenSans-Regular-webfont.woff2') format('woff2'),
    url('../../../fonts/sans/OpenSans-Regular-webfont.woff') format('woff'),
    url('../../../fonts/sans/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../../../fonts/sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../../../fonts/sans/OpenSans-Semibold-webfont.eot');
    src: url('../../../fonts/sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/sans/OpenSans-Semibold-webfont.woff2') format('woff2'),
    url('../../../fonts/sans/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../../../fonts/sans/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../../../fonts/sans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../../../fonts/sans/OpenSans-Bold-webfont.eot');
    src: url('../../../fonts/sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/sans/OpenSans-Bold-webfont.woff2') format('woff2'),
    url('../../../fonts/sans/OpenSans-Bold-webfont.woff') format('woff'),
    url('../../../fonts/sans/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../../../fonts/sans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../../../fonts/sans/OpenSans-BoldItalic-webfont.eot');
    src: url('../../../fonts/sans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/sans/OpenSans-BoldItalic-webfont.woff2') format('woff2'),
    url('../../../fonts/sans/OpenSans-BoldItalic-webfont.woff') format('woff'),
    url('../../../fonts/sans/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
    url('../../../fonts/sans/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../../../fonts/sans/OpenSans-ExtraBold-webfont.eot');
    src: url('../../../fonts/sans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/sans/OpenSans-ExtraBold-webfont.woff2') format('woff2'),
    url('../../../fonts/sans/OpenSans-ExtraBold-webfont.woff') format('woff'),
    url('../../../fonts/sans/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
    url('../../../fonts/sans/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../../../fonts/sans/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../../../fonts/sans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/sans/OpenSans-ExtraBoldItalic-webfont.woff2') format('woff2'),
    url('../../../fonts/sans/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
    url('../../../fonts/sans/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
    url('../../../fonts/sans/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}