$zindex-modal-background: 1000;


.prevent-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.full-width {
    width: 100%
}

.centered {
    margin: 0 auto;
    text-align: center;
}