// put your custom project mixins and variables here - checkout it doesn't already exist in compass
//
// variables i.e. colors etc...
//
// custom mixins
//
//

// UTILITY MIXINS
// --------------------------------------------------

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
@mixin bootstrap-clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
}

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
@mixin bootstrap-text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// CSS3 PROPERTIES
// --------------------------------------------------

// Border Radius
@mixin bootstrap-border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

// Drop shadows
@mixin bootstrap-box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

// Opacity
@mixin bootstrap-opacity($opacity) {
    opacity: $opacity / 100;
    filter: unquote("alpha(opacity=#{$opacity})");
}

// Gradients
@mixin bootstrap-gradient-horizontal($startColor: #555, $endColor: #333) {
    background-color: $endColor;
    background-image: -moz-linear-gradient(left, $startColor, $endColor); // FF 3.6+
    background-image: -ms-linear-gradient(left, $startColor, $endColor); // IE10
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(left, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient(left, $startColor, $endColor); // Le standard
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=1); // IE9 and down
}

@mixin bootstrap-gradient-vertical($startColor: #555, $endColor: #333) {
    background-color: mix($startColor, $endColor, 60%);
    background-image: -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
    background-image: -ms-linear-gradient(top, $startColor, $endColor); // IE10
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient(top, $startColor, $endColor); // The standard
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}', GradientType=0); // IE9 and down
}

@mixin bootstrap-gradient-directional($startColor: #555, $endColor: #333, $deg: 45deg) {
    background-color: $endColor;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient($deg, $startColor, $endColor); // FF 3.6+
    background-image: -ms-linear-gradient($deg, $startColor, $endColor); // IE10
    background-image: -webkit-linear-gradient($deg, $startColor, $endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient($deg, $startColor, $endColor); // Opera 11.10
    background-image: linear-gradient($deg, $startColor, $endColor); // The standard
}

@mixin bootstrap-radial($innerColor: #555, $outerColor: #333) {
    background-color: $outerColor;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from($innerColor), to($outerColor));
    background-image: -webkit-radial-gradient(circle, $innerColor, $outerColor);
    background-image: -moz-radial-gradient(circle, $innerColor, $outerColor);
    background-image: -o-radial-gradient(circle, $innerColor, $outerColor);
    /* bof added parameter */
    background-image: radial-gradient(circle, $innerColor, $outerColor);
    /* eof added parameter */
    background-repeat: no-repeat;
}

// BACKGROUND OPACITY

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

$dashboard-side-width: 217px;

@mixin prevent-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin populate-colour($color, $name, $textcolor: white) {
    .text-#{$name} {
        color: $color !important;
    }
    .fill-#{$name} {
        background-color: $color !important;
        border-color: $color !important;
        color: $textcolor !important;
    }
}

@mixin colourify($color, $border-color: $color, $font-color: white) {
    background-color: $color;
    border-color: $border-color;
    color: $font-color;
    &:hover, &:focus {
        background-color: lighten($color, 2%);
        border-color: lighten($border-color, 2%);
        color: $font-color;
    }
    &:active {
        background-color: darken($color, 2%);
        border-color: darken($border-color, 2%);
        color: $font-color;
    }
}

@mixin colourify-darken($color, $border-color: $color, $font-color: white) {
    background-color: $color;
    border-color: $border-color;
    color: $font-color;
    &:hover, &:focus {
        background-color: darken($color, 5%);
        border-color: darken($border-color, 5%);
        color: $font-color;
    }
    &:active {
        background-color: darken($color, 7%);
        border-color: darken($border-color, 7%);
        color: $font-color;
    }
}

@mixin line-height($line-height) {
    height: $line-height;
    line-height: $line-height;
}

@mixin skew($deg, $deg2) {
    -webkit-transform: skew($deg, $deg2);
    -moz-transform: skew($deg, $deg2);
    -ms-transform: skew($deg, $deg2);
    -o-transform: skew($deg, $deg2);
}
