.modal {
    .modal-backdrop{
    }
    &.alert {
        .modal-header {
        }
        .modal-content {

        }
        .modal-dialog {
        }
        .modal-footer {
        }
    }

    .modal-close{
        position: absolute;
        z-index: 99;
        cursor:pointer;
    }
}

.modal-backdrop {
}

.modal-dialog {

}

.modal-header {
}

.modal-content {

}

.modal-footer {

    .btn {

    }
}
