.navbar {

    @include border-radius(0px);

    background-color: $nav-background;
    border-bottom: 1px solid $nav-border;
    .main-nav {

    }

    .nav > li > a {

        &.active {

        }
        &:hover {

        }
    }
    .navbar-form {
    }

    .nav-header {
    }

    .nav-tabs {

        li {

            &:last-child {
            }

            a {

            }

            &.active, &:hover, &.active:hover {

                a {

                }
            }
        }
    }
}