.panel {
    background: $panel-background;
    color: $panel-text;

    .panel-title {

    }


    .panel-head {
        color: $panel-header-text;
        background: $panel-head;
        border-bottom: 1px solid $panel-border-bottom;
        padding: 5px 10px;
    }

    .panel-body {

    }



}

.panel-addon {
    @include transition(all 200ms);
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #f9f9f9;
    cursor: pointer;
    &:hover {
        background: #f1f1f1;
    }
}
