/* -------------------------
   Project specific print styles. (if any)

   Inlined to avoid required HTTP connection: h5bp.com/r

   bootstrap has its own print stylesheet in sass-bootstrap/_print.scss
   (they're the same as h5bp ones so should do the trick for now)

------------------------- */

html, body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
    color: $colour-text;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
