.table {

    thead {

        tr {
            th {
                a {

                }
            }
        }

        .reactable-header-sortable {
            cursor: pointer;
        }
    }

    tbody {

        tr {

            &:last-child {

            }

            td {
                vertical-align: middle;

                &:first-child {
                }

                &:last-child {
                }

                &.feature {

                }

                .reactable-current-page {

                }

                a {

                    &.reactable-page-button {
                        display: inline-block;
                    }

                }
            }
        }

        &.reactable-pagination {
            td {
                text-align: right;
            }
        }
    }
}