@import "compass/css3/transition";
@import "compass/css3/transform";
.product {
  padding: 20px;
  height: 400px;
  border: 1px solid #f1f1f1;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  .product-image {
    height: 250px;
    background-color: #ffffff;
    img {
      max-height: 100%;
      max-width: 100%;
    }
    .btn {
      position: absolute;
      top: -1px;
      right: -1px;
    }
  }
  .product-name {
    font-weight: bold;
    color: #555;
  }
  .panel-addon {
    opacity: 0;

  }
  &:hover {
    .panel-addon {
      opacity: 1;
    }
  }
}

.basket {
  padding: 20px;
  border: 1px solid #f1f1f1;
  position: relative;
  margin-bottom:20px;
  text-align: left;
  img {
    height: 50px;
  }
  .product-name {
    font-weight: bold;
    color: #555;
  }
  .panel-addon {
    opacity: 0;

  }
  &:hover {
    .panel-addon {
      opacity: 1;
    }
  }
}

.price {
  @include transition(all, 200ms);
  @include transform(scale(1,1));
  &.up {
    color: #3F77CA;
    @include transform(scale(1.2,1.2));
  }
  &.down {
    color: #ca4b28;
    @include transform(scale(0.8,0.8));
  }
}