<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="main.css"/>

        <style>
            body{
                font-family: helvetica,arial;
                font-size:1rem;
            }
        </style>

    </head>
    <body>
        {% block content %}{% endblock %}
</body>
</html>
